<mat-toolbar>
    <section class="header-section">
        <h1 class="site-logo">
            <a href="/"><img src="assets/logo.png" alt="Logo" class="logo"></a>
        </h1>
        <div class="nav-div">
            <ul>
                <li class="nav-item">
                    <a href="/filter" class=nav-link><span>Filter</span></a>
                </li>
                <li class="nav-item">
                    <a href="/films" class=nav-link><span>Films</span></a>
                </li>
            </ul>
            <button mat-flat-button color="accent" class="start-button" [routerLink]="['/start']">Start</button>
        </div>
    </section>
</mat-toolbar>