.div-page {
    padding: 100px 0;
}

.page-content {
    margin: 0 auto;
    width: 950px;
}

.pagin {
    background-color: transparent;
    color: #678;
}

.films {
    float: left;
    width: 670px;
}

.list-title {
    margin-bottom: 1.53846154rem;
    position: relative;
    /* border-bottom: 1px solid #456; */
}

.title-1 {
    line-height: 1.2;
    margin: 0 0 10px;
    color: #fff;
    font-family: Graphik-Semibold-Web,sans-serif;
    /* font-weight: 400; */
}

.filter-sorter {
    border-bottom: 1px solid #456;
    color: #678;
    font-size: 11px;
    line-height: 1;
    margin: 0 0 15px;
    padding-bottom: 15px;
    min-height: 30px;
    position: relative;
}

.filter-button {
    float: right;
    margin: 0;
}

.filter-icon {
    color: #556677;
}

.film-ul {
    margin-left: -11px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    list-style: none;
}

.film-item {
    height: 187px;
    width: 125px;
    display: block;
    margin: 0 0 10px 11px;
}

.film-img {
    border-radius: 3px;
    display: block;
}

.hide-poster {
    opacity: .2;
    transition: all .1s linear;
}

.poster {
    display: block;
    height: 187px;
    width: 125px;
    background: #161718;
    box-shadow: 0 1px 3px rgba(0,0,0,.35);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.frame {

    background-clip: padding-box;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.5) 50%,hsla(0,0%,100%,0));
    background-repeat: no-repeat;
    background-size: 100% 1px;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #def;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 110%;
    top: 0;
    white-space: nowrap;

}

.frame .frame-border {
    border: 1px solid #def;
    border-radius: 3px;
    bottom: -3px;
    box-shadow: inset 0 0 1px 1px rgba(20,24,28,.125);
    display: block;
    left: -3px;
    overflow: hidden;
    position: absolute;
    right: -3px;
    text-indent: 110%;
    top: -3px;
    transition: border .1s linear;
    white-space: nowrap;

}

.frame:hover .hide-border {
    border: 1px solid #f90349;
    border-width: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.frame:hover .frame-border {
    border-width: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.overlay-actions {
    background: rgba(0,0,0,.8);
    border-radius: 4px;
    bottom: 10px;
    height: 28px;
    display: none;
    left: 58%;
    margin-left: -58px;
    padding: 0;
    position: absolute;
    width: 94px;
}

.frame:hover .overlay-actions {
    display: inline;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    height: 28px;
    width: 92px;
}

.film-action-button {
    padding: 0;
    height: 27px;
    width: 25px;
}

.film-action-icon {
    color: #c7d8e7;
}

.film-action-icon-green {
    color: #f90349;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target{
    width: 40px;
}


/* .watch-film {
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 5px;
    height: 27px;
    width: 25px;
}

.watch-film-2 {
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding-left: 25px;
    height: 27px;
    width: 0;
}

.watch-film-3 {
    height: 27px;
    width: 25px;
} */

.sidebar {
    float: right;
    margin-right: 0;
    width: 230px;
}

.progress-panel {
    border: 1px solid #303840;
    border-radius: 3px;
    box-sizing: border-box;
    color: #9ab;
    padding: 0.76923077rem 0 0;
    position: relative;
    text-align: center;
}

.progress-panel .progress-status {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.76923077rem;
}

.progress-panel h3 {
    color: #9ab;
    font-size: .92307692rem;
    line-height: 1.33333333;
    margin: 0;
    padding-left: 0.76923077rem;
    text-align: left;
}

.progress-panel h3 .progress-counter {
    display: block;
}
.progress-panel p {
    font-family: Graphik-Light-Web,sans-serif;
    font-size: 2.61538462rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding-right: 0.76923077rem;
}

.progress-panel .percent {
    display: inline-block;
    font-size: 1.23076923rem;
    margin: 0 0 0 2px;
    padding-top: 2px;
    vertical-align: top;
}

.progress-panel .progress-container {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 5px;
    margin: 0 -1px -1px;
    overflow: hidden;
    position: relative;
}

.progress-panel .progress-container .progress-bar {
    background-color: #40bcf4;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}